.head{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.headerBody{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  height: 100px;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 36px;
  position: relative;
  z-index: 10;
}

.information{
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.header{
  z-index: 100;
}

.header h3{
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.75px;
}

.container h1{
  margin: 0px 0px;
}

.body{
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card{
  z-index: 100;
  width: 450px;
  height: 300px;
  margin: 10px 50px;
  padding: 2px;
  background: linear-gradient(to left, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 200% 100%;
  animation: bg 20s infinite;
  border-radius: 5px;
}

.cardInner{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  transition-duration: 0.2s;
  cursor: pointer;
  background-color: rgb(30, 30, 31);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  font-size: 30px;
}

.cardTitle{
  position: absolute;
  font-weight: 600;
  transition-duration: 0.2s;
}

.cardInner:hover{
  background-color: rgba(25, 25, 30, 0.5);
}

.cardInner:hover .cardTitle{
  transform: scale(1.4);
  color: rgb(243, 227, 85);
}

.imageContainer{
  z-index: 10;
  position: absolute;
  overflow: hidden;
}

.otherGames{
  z-index: 100;
  margin-top: 120px;
  width: 55%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}


.movingGradient{
  position: absolute;
  /* border-radius: 100%; */
  background: linear-gradient(to left, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 50%;
  height: 25px;
  width: 100px;
  left: 26px;
  /* top: 30px; */
  animation: movingGradient1 var(--speed) infinite;
}

.movingGradient2{
  position: absolute;
  /* border-radius: 100%; */
  background: linear-gradient(to left, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 50%;
  height: 60px;
  width: 64px;
  /* left: 26px; */
  /* top: 30px; */
  animation: movingGradient2 var(--speed) infinite;
}

.articleHolder{
  background-color: rgb(37, 37, 37);
  /* background-color: black; */
  text-align: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 550px
}

.article{
  background-color: rgba(19, 19, 22, 0.6);
  width: 100%;
  padding: 10%;
  position: absolute;
}

.article h1{
  font-size: 48px;
  font-weight: 600;
  margin: 0px;
}

.article h3{
  font-size: 26px;
  font-weight: 200;
  text-align: center;
  color: rgb(248, 218, 46);
  line-height: 35px;
}

@keyframes bg {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}


@keyframes movingGradient1 {
  0% {
    background-position: 0% 50%;
    /* top: 0px; */
    left: 0px;
  }
  50% {
    background-position: 100% 50%;
    /* top: 100%; */
    left: 100%;
    /* right: 100%; */
  }
  100% {
    background-position: 0% 50%;
    /* top: 0px; */
    left: 0px;
  }
}

@keyframes movingGradient2 {
  0% {
    background-position: 0% 50%;
    top: 0px;
    /* left: 0px; */
  }
  50% {
    background-position: 100% 50%;
    top: 100%;
    /* left: 100%; */
    /* right: 100%; */
  }
  100% {
    background-position: 0% 50%;
    top: 0px;
    /* left: 0px; */
  }
}

.footer{
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #f4b301;
}

.footerContent{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1440px){
  .container{
    transform: scale(0.8);
  }

}

@media (max-width: 900px){
  .container{
    transform: scale(0.7);
  }
  .otherGames{
    width: 120%;
  }
  .article h1{
    font-size: 36px;
  }
  
  .article h3{
    font-size: 20px;
  }
}

@media (max-width: 600px){
  .container{
    transform: scale(0.7);
  }
  .body{
    flex-direction: column;
  }
  .otherGames{
    width: 120%;
  }
  .article h1{
    font-size: 30px;
  }
  
  .article h3{
    font-size: 16px;
    line-height: 30px;
  }
}